#about {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Фигура на заднем фоне */
.about__bg {
    position: absolute;
    top: -52px;
    left: -210px;
    z-index: -1;
}


/* Верхняя часть секции */
.about__top {
    display: flex;
    justify-content: space-between;
}

.about__top-inner {
    max-width: 644px;
}

/* Я увлечен своим предметом... */
.about__top-inner > p:first-of-type {
    font-size: 21px;
}

/* Высокие результаты занятий... */
.about__top-inner > p:last-of-type {
    font-size: 18px;
    margin-top: 37px;
}

/* Синий цвет выделенного текста */
.about__top-inner p span {
    font-size: inherit;
    color: var(--text-blue);
}

.about__top-list {
    width: 100%;
    display: flex;
    gap: 47px 24px;
    flex-wrap: wrap;

    margin-top: 60px;
}

.about__top-block {
    width: 310px;
    border-top: 1px solid #c7fc93;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Нумерация блоков */
.about__top-block h4 {
    font-size: 16px;
    color: #0065e8;
    margin-top: 2px;
}

/* Текст блока */
.about__top-block p {
    font-size: 16px;
}


/* Галерея */
.about__gallery {
    display: flex;
    gap: 24px;
    margin-top: 57px;
}

.about__gallery img {
    border-radius: 16px;
}

.about__gallery img:nth-of-type(1) {
    width: 643px;
    height: 272px;
}

.about__gallery img:nth-of-type(2) {
    width: 310px;
    height: 272px;
}

.about__gallery img:nth-of-type(3) {
    width: 311px;
    height: 272px;
}