/* #faq {} */

.questions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 60px;
    
}

.question {
    max-height: 80px;
    border-radius: 16px;
    background: #f9f1ef;
    position: relative;
    overflow: hidden;
    box-sizing: content-box;

    transition: .4s max-height ease-out;
}

/* Стрелочка */
.question::after {
    content: "";
    width: 38px;
    height: 38px;
    rotate: -90deg;
    transition: .4s rotate ease-out;

    position: absolute;
    top: 21px;
    right: 26px;

    background-image: url("../assets/faq/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;

    /* Отключаем взаимодействие */
    pointer-events: none
}

/* Текст вопроса */
.question button {
    width: 100%;
    height: 80px;
    padding: 21px 48px;
    justify-content: flex-start;
    position: relative;
    
    border-radius: 16px;
    background-color: transparent;

    font-weight: 300;
    color: var(--text-black);
    font-size: 28px;
}

/* Звездочка */
.question button::after {
    content: "";
    width: 24px;
    height: 24px;

    position: absolute;
    top: 28px;
    left: 8px;

    background-image: url("../assets/faq/star.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* Ответ */
.question p {
    padding: 0 48px 21px 48px;
}

/* Стрелочка поворачивается когда вопрос развернут */
.question.opened::after {
    rotate: 0deg;
}

/* Раскрываем ответ */
.question.opened {
    max-height: 300px;
}