/* Уменьшаем фигуру на заднем фоне */
@media screen and (max-width: 1160px) {
    /* Остались вопросы? */
    .feedback-inner h2 {
        font-size: 42px;
    }

    .feedback__bg svg {
        width: 300px;
    }
}

/* Моб. версия */
@media screen and (max-width: 980px) {
    #feedback {
        height: auto;
        padding: 25px 16px 34px 16px;
    }

    .feedback-inner {
        width: min(420px, 100%);
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 87px;
    }
    
    /* Фигура на заднем фоне */
    .feedback__bg {
        display: none;
    }

    /* Фигура на заднем фоне в моб. версии */
    .feedback__bg-phone {
        display: block;
    }
    
    
    /* Остались вопросы? */
    .feedback-inner h2 {
        font-size: 32px;
    }
    
    /* Оставьте заявку... */
    .feedback-inner h3 {
        width: auto;
        font-size: 16px;
    }
    
    
    /* Форма обратной связи */
    .feedback__form {
        width: 100%;
        visibility: hidden;
    }
    
    .feedback__form input[type="text"] {
        height: 46px;
        font-size: 16px;
    }
    
    .feedback__form input[type="text"]::-webkit-input-placeholder {
        font-size: 16px;
    }
    
    .feedback__form input[type="text"]::-moz-placeholder {
        font-size: 16px;
    }
    
    .feedback__form input[type="text"]:-ms-input-placeholder {
        font-size: 16px;
    }
    
    .feedback__form input[type="text"]::-ms-input-placeholder {
        font-size: 16px;
    }
    
    .feedback__form input[type="text"]::placeholder {
        font-size: 16px;
    }
    
    .feedback__form label {
        padding: 12px 0 12px 8px;
        font-size: 16px;
    }
    
    .feedback__form textarea {
        font-size: 16px;
    }

    /* Ошибка формы */
    #feedback-form-error {
        font-size: 16px;
    }
    
    /* Кнопка "Отправить" */
    .feedback__form button {
        height: 46px;
        font-size: 16px;
    }

    /* Текст после отправки формы */
    .feedback__form-success {
        padding-bottom: 206px;
    }

    .feedback__form-success h2 {
        font-size: 22px;
    }

    .feedback__form-success h3 {
        font-size: 16px;
    }
}

/* Уменьшаем заголовки */
@media screen and (max-width: 403px) {
    .feedback-inner h2 {
        font-size: 26px;
    }

    .feedback-inner h3 {
        padding-right: 50px
    }


    /* Текст после отправки формы */
    .feedback__form-success {
        padding-bottom: 180px;
    }

    .feedback__form-success h2 {
        font-size: 22px;
    }

    .feedback__form-success h3 {
        padding-right: 0;
    }
}

@media screen and (max-width: 335px) {
    .feedback-inner {
        gap: 60px;
    }
}