footer {
    height: 192px;
    padding: 32px 0 40px 0;
    background-color: #000E21;
    color: var(--text-white);
}

/* Ограничиваем ширину внутренней части footer */
.footer-inner {
    width: min(var(--content-width), 100%);
    height: 100%;
    padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0 auto;
}

.footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/* ИП Савельев Игорь Олегович */
.footer-info p {
    color: var(--text-white);
}

/* Список соц-сетей */
.footer-info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 46px;
}

.footer-info li a {
    width: 45px;
    height: 45px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    cursor: pointer;
}

/* Политика конфиденциальности */
#footer-privacy-policy {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 16px;
    color: var(--text-white);
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
}