/* Переход на моб. меню */
@media screen and (max-width: 640px) {
    header {
        height: auto;
        padding-top: 16px;
        box-sizing: border-box;
        align-items: flex-start;
    }

    /* Скрываем навигацию */
    nav {
        display: none;
    }

    /* Показываем кнопку */
    #open-menu {
        display: block;
    }
}