#info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

/* Открой путь к знаниям и успеху */
.info-inner h1 {
    max-width: 642px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 62px;
    line-height: normal;
}

/* Подготовка к ОГЭ и ЕГЭ по обществознанию */
.info-inner h3 {
    color: var(--text-blue);
    font-size: 24px;
}

/* Запишитесь на бесплатную консультацию... */
.info-inner > p {
    max-width: 469px;
    visibility: hidden;
    margin-top: 100px;
}


/* Форма записи */
.info__form {
    width: min(420px, 100%);
    visibility: hidden;
    margin-top: 16px;
}

.info__form .input-wrapper {
    margin-top: 1px;
}

/* Кнопка "Отправить */
.info__form button {
    width: 100%;
    margin-top: 8px;
}

/* Текст после отправки формы */
.info__form-success {
    padding-bottom: 131px;
    margin-top: 100px;
}

.info__form-success h3 {
    font-family: var(--second-family);
    font-weight: 700;
}

.info__form-success p {
    color: var(--text-blue);
    font-size: 20px;
}


.info__image {
    width: 506px;
    height: 505px;

    position: absolute;
    top: -44px;
    right: 151px;
    z-index: -1;
}

.info__image img {
    width: 100%;
    height: 100%;
}