#reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    /* Отключаем pudding снаружи и ставим его внутри блоков
    для прокрутка комментариев была от края до края */
    padding: 0;
}

#reviews .section-header {
    padding: 0 16px;
}

/* Контейнер с отзывами */
.reviews-container {
    width: 100%;
    padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    overflow: auto;
    margin-top: 60px;
}

/* Отзыв */
.review {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-height: 434px;
    padding: 16px;
    border-radius: 16px;
    background: #f9f1ef;
}

/* Фото, имя и оценка */
.review__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
}

.review__top-image {
    width: 70px;
    height: 70px;
}

/* Фото автора */
.review__top-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Имя автора */
.review__top-info p {
    font-weight: 400;
    font-size: 22px;
    color: var(--text-blue);
    margin-top: 8px;
}

/* Оценка */
.review__top-info img {
    width: 152px;
    height: 24px;
    margin-top: 6px;
}

/* Текст отзыва */
.review__text {
    font-size: 14px;
    letter-spacing: -0.01em;
    margin-top: 10px;
}

/* Кнопка показывающая доп отзывы в моб. версии */
#reviews-more {
    display: none;
    margin-top: 8px;
}