/* Моб. версия */
@media screen and (max-width: 980px) {
    .services-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 24px;
    }
    
    .service {
        width: min(420px, 100%);
    }
    
    .service img {
        width: 100%;
        height: auto;
    }

    /* Заменяем картинку на мобильную */
    .service:nth-of-type(1) img {
        content: url("../assets/services/1-mob.png");
    }

    .service:nth-of-type(2) img {
        content: url("../assets/services/2-mob.png");
    }
    
    .service__block {
        padding-top: 32px;
        padding-bottom: 24px;
        margin-top: -18px;
    }
    
    .service__block li {
        padding-left: 18px;
        font-size: 18px;
    }
    
    /* Звездочка слева от пунктов */
    .service__block li::after {
        top: 5px;
    }
    
    /* Ценник */
    .service__block p {
        font-size: 20px;
        margin-top: 38px;
    }
}

/* Меняем отрицательный отступ от блока до картинки */
@media screen and (max-width: 500px) {
    .service__block {
        margin-top: -3.8vw;
    }
}